
/* mise en forme */
html {
font-family: 'Patrick Hand', cursive;
font-size: 50px;
color: #161616;
background-color: rgb(243, 243, 243)
}

main {
display: flex;
text-align: center;
text-align: justify;
margin: auto;
}


#gauche {
	max-width: 800px;
	margin: auto;
}

#gauche img {
display:block;
height: 150px;
margin: 0 auto;
padding: 10px;
border-radius: 25px;
opacity: 0.3;
}

#gauche img:hover {
opacity: 1;
box-shadow: 0px 0px 10px white;
}


#droite {
	margin: auto;
	text-align: center;
	font-style: italic;	
}

.image {
	position: relative;
	width: 1000px;
	height: auto;
}

.overlay { 
    position: relative; 
    opacity: 0; 
    transition: all 0.3s ease; 
        } 
		
.image:hover .overlay {
	opacity: 1;
}
	