
/* mise en forme */

* {
margin: 20px;		
}


html {
font-family: 'Patrick Hand', cursive;
font-size: 50px;
color: #161616;
background-color: rgb(243, 243, 243);
}


main {
display: flex;
text-align: justify;
margin: auto;
}




/* header */


header {
background-color: #FE7473;	
text-align: center;
border: 10px solid black;
}


a {
	color: white;
	transition: 0.5s;
	
}


a:hover {
	color: #FE7473;
	background-color: white;
	border-radius: 10%;
}



/* footer */


footer {
font-size: 30px;	
border-top: 1px solid black;
}

/* bloc gauche */

.gif {
display:block;
height: 200px;
margin: 0 auto;
opacity: 0.7; 
}

.chateau {
display:block;
height: 150px;
margin: 0 auto;
padding: 10px;
border-radius: 25px;
opacity: 0.3;
}

.chateau:hover {
opacity: 1;
box-shadow: 0px 0px 10px white;
}

#gauche {
max-width: 800px;
margin: auto;
}




/* bloc droite */


.bulle {
opacity: 0; 
transition: all 0.5s ease;
background: white;
border-radius: 50px 50px 50px 0;
padding: 10px;
max-width: 800px;
}

#droite {
margin: auto;
text-align: center;
font-style: italic;
font-size: 60px;
color: #FE7473;
background-image: url(https://media.giphy.com/media/fo2dhRTmaULbStoFkX/giphy.gif);	
}

#droite:hover .bulle {
	opacity: 0.7;
}