
/* mise en forme */
html {
font-family: 'Patrick Hand', cursive;
font-size: 50px;
color: #602929;
background-color: rgb(243, 243, 243)
}

main {
display: flex;
text-align: center;
text-align: justify;
margin: auto;
}


#gauche {
	max-width: 1000px;
	margin: auto;
	
}

#gauche img {
height: 150px;
margin: 0 auto;
padding: 10px;
border-radius: 25px;
opacity: 0.3;
}

#gauche img:hover {
opacity: 1;
box-shadow: 0px 0px 10px white;
}


#droite {
	margin: auto;
	text-align: center;
	font-style: italic;
	
}